body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-top: 5px;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    background: rgb(240, 242, 245);
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: scroll;
    
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: rgb(56, 88, 152);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

.header {
    text-align: center;
}

.logo-img {
    height: 100px;
}

.main {
    outline: none;
    padding: 0 20px 0 0;
    margin: 0 auto 30px auto;
    width: 400px;
}

.inner {
    background-color: #fff;
    border-radius: 8px 8px 8px 8px;
    width: 432px;
    padding: 10px 16px;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
    color: rgb(28, 30, 33)
}

.inner-header-name {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
}

.inner-header-text {
    
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #606770;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
}

.inner-container {
    border-top: 1px solid #dadde1;
  
    padding-top: 16px;
    position: relative;
    width: 100%;
}

.form {
    margin: 0;
    padding: 0;
    display: block;
}

.input-place {
    width: 432px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}

.input-name, .input-login {
    background: white;
    border-radius: 5px;
    position: relative;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 16px;
    padding: 12px;
    border: 1px solid #ccd0d5;
}

.input-name {
    width: 183px;
    color: #606770;
    margin-bottom: 10px;
}

.input-name + .input-name {
    margin-left: 5px;
}

.input-login {
    width: 400px;
    color: #606770;
    margin-bottom: 10px;
}

.birthday-place {
    width: 432px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    text-align: center;    
}

.birthday-text {
    color: #606770;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}



#day, #month, #year {
    border-radius: 4px;
    color: #1c1e21;
    border: 1px solid #ccd0d5;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    width: 130px;
    line-height: 20px;
}
 
#day, #month {
    margin-right: 12px;
}

.sex-place {
    width: 432px;
    box-sizing: border-box;
    display: inline-block;
    color: #1c1e21;
    text-align: center;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
}

.woman, .man, .other {
    background-color: #fff;
    border: 1px solid #ccd0d5;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    padding: 0;
    position: relative;
    width: 138px;
}

.politic-place {
    color: #777;
    font-size: 11px;
}

.button-place {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.but {
    background: none;
    background-color: rgba(0, 0, 0, 0);
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    margin-top: 20px;
}

.accaunt {
    color: #1877f2;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.footer {
    background-color: #fff;
    text-align: center;
    padding: 20px 250px;
}
